p,
h1,
h2,
h3,
h4,
h5,
div,
img {
  margin: 0px;
}
body {
  background-color: rgb(140, 190, 93);
}
.GlavTxt {
  text-align: center;
  font-family: "Montserrat";
  margin-bottom: 100px;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.el1 {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  border-radius: 30px;
  border: 4px solid rgb(255, 174, 0);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.cnt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img1 {
  height: 200px;
  width: 200px;
}
.p2 {
  font-size: 22px;
  text-align: center;
  font-weight: 600;
}
.glav2 {
  display: flex;
  text-align: center;
  justify-content: center;
}
.p3 {
}
.img2 {
  width: 20px;
  height: 20px;
  margin-bottom: -3.5px;
}
.img0 {
  height: 30px;
  width: 30px;
  margin-right: 4px;
}
.el2 {
  display: flex;
  flex-direction: column;
  margin-left: 400px;
  font-family: "Montserrat";
}
